@font-face {
	font-family: 'Calibri';
	src: url('Calibri.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Calibri';
	src: url('Calibri-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/*----------------------------------------------------------------------*/

/*----------------------------ОБНУЛЕНИЕ---------------------------------*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*----------------------------------------------------------------------*/

body {
	font-family: "Montserrat";

}

main {
	width: 690px;
	height: 563px;
	background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
	padding: 10px 14px;
	display: flex;

}

h1 {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
	color: #FFFFFF;
}

h2 {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #CECACA;
}

h3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #CECACA;
}

h4 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
}

h5 {
	font-weight: 700;
	font-size: 10px;
	line-height: 18px;
	color: #E5E5E5;
}

h6 {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
}


/*-------------------------------БЛОК 1-----------------------------*/

.about-me {
	width: 300px;
	height: 498px;
	background: rgba(196, 196, 196, 0.3);
	border-radius: 10px;
	padding: 0px 18px 10px 18px;
	margin-right: 37px;
}

.about-me__main {
	display: flex;
}

.about-me__image {
	padding: 20px 10px 28px 0px;
}

.main-photo {
	border-radius: 10px;
	width: 110px;
	height: 98px;
}

.profile {
	padding: 24px 15px 32px 0;
}


.contacts {}

.email {
	height: 38px;
	background: rgba(196, 196, 196, 0.35);
	border-radius: 10px;
	/* margin: 0 18px 5px 0; */
	display: flex;
}

.phone-number {
	display: flex;
	height: 38px;
	background: rgba(196, 196, 196, 0.35);
	border-radius: 10px;
	/* margin: 0 18px 5px 0;*/
}

.location {

	height: 38px;
	background: rgba(196, 196, 196, 0.35);
	border-radius: 10px;
	/* margin: 0 18px 32px 0;  */
	display: flex;
}

.contacts>*:not(:last-child) {
	margin-bottom: 5px;
}

.contacts__icons {
	padding: 7px 32px 7px 14px;
}

.contacts__p {
	padding: 10px 50px 10px 0;
	font-family: 'Calibri';
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
}


.languages {
	padding: 0px 18px 32px 18px;
	width: 264px;
	height: 64px;
	background: rgba(196, 196, 196, 0.35);
	border-radius: 10px;
	padding: 6px 165px 6px 16px;
	margin-bottom: 32px;
	margin-top: 32px;
}

.list__languages {
	list-style-type: none;
}

.languages ul {
	font-family: 'Calibri';
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #FAFAFA;
}


.hobbies {}

.hobbies h4 {
	width: 90px;
	height: 32px;
	background: rgba(196, 196, 196, 0.35);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hobbies__list {
	margin: 13px 28px 10px 23px;
}

.hobbies__item {
	display: inline-block;
	padding: 0 25px 0 0;
}


/*--------------------------БЛОК 2--------------------------------*/

.second-block {
	width: 325px;
	height: 237px;
	background: #FFFFFF;
	border-radius: 10px;
	padding: 20px 7px 20px 14px;
	/* margin: 10px 14px 35px 0; */
}

.why-me {}

.education {
	margin-bottom: 12px;
}

.line {
	width: 143px;
	border: 1px solid #545454;
	position: relative;
	top: 32px;
	right: 0;
}

h6 {
	width: 156px;
	height: 24px;
	background: #545454;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 12px;
}


.degree {
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: #343434;
}

.university {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #343434;
}

.date {
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 400;
	font-size: 9px;
	line-height: 18px;
	color: #73808D;
}

.skills {
	font-weight: 600;
	font-size: 10px;
	line-height: 18px;
	color: #545454;

}

.skills__list {}

.skills__item {
	display: inline-block;
	padding: 0 16px 0 0;
	text-align: center;
}


.code {}